.categorySection {
  margin-bottom: 18px;
}

.categoryBox {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 14px;
}

.title {
  margin: 0;
  font-size: 18px;
  color: #1f6098;
  font-weight: 700;
}

/* Caixa cinza interna */
.content {
  margin-top: 10px;
  background-color: #e7e7e7;
  border-radius: 10px;
  padding: 16px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: flex-start;
}
