.header {
  background-color: #61aeca;
  height: 70px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 16px;
}

.logoLink {
  justify-self: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 40px;
  cursor: pointer;
}

.searchContainer {
  justify-self: end;
  max-width: 320px;
  width: 100%;
}
